@import '~bootstrap/scss/bootstrap';
@import '~weather-icons/sass/weather-icons';

.card {
  color: #4B515D;
  border-radius: 35px;
  box-shadow: 10px 5px 5px lightgrey;
}

.display-4 {
  color: #1C2331;
}

.small condition {
  color: #868B94;
}

.fas{
  color: #868B94;
}

.flex-grow-1 {
  font-size: 1rem;
}

.weather-icon {
  font-size: 4rem;
  color:#ffd200;
}



